<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ljp.hellogithub"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--滑动冲突-外部拦截-->
        <activity android:name=".activity.viewclicksystem.Demo1Activity"/>
        <!--滑动冲突-内部拦截-->
        <activity android:name=".activity.viewclicksystem.Demo2Activity"/>
        <activity android:name=".activity.textview.TextViewSpannableActivity"/>
        <activity android:name=".activity.viewclicksystem.MyViewActivity"/>

        <!--service demo-->
        <activity android:name=".activity.service.ServiceDemoActivity"/>

        <!--动画-->
        <activity android:name=".activity.animation.AnimationMainActivity"/>
        <activity android:name=".activity.animation.LayoutAnimationActivity"/>
        <activity android:name=".activity.animation.AnimatorActivity"/>
        <activity android:name=".activity.animation.AnimatorTwoActivity"/>

        <service android:name=".activity.service.HelloService"/>

        <!--====UI布局activity===-->
        <activity android:name=".ui.UIActivity"/>
        <activity android:name=".ui.constraint.ConstraintLayoutActivity"/>
        <activity android:name=".ui.recycler.RecyclerViewActivity"/>

        <!--android消息机制-->
        <activity android:name=".activity.message_mechanism.MessageMechanismActivity"/>

        <!--android线程和线程池-->
        <activity android:name=".activity.threadpool.MyThreadMain"/>
        <activity android:name=".activity.threadpool.AsyncTaskActivity"/>
        <service android:name=".activity.threadpool.LocalIntentService"/><!--注册IntentService服务-->

    </application>

</manifest>